Repository hazlamahedich/SprintSense: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

Path conditions:
  fix-line-lengths: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/app/.*\.py$
  pytest-backend: any of: ^backend/
  eslint-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  typescript-frontend: any of: ^frontend/src/.*\.(ts|tsx)$

style(black): fix formatting in teams.py
  backend/app/services/teams.py
Due: fix-line-lengths, mypy-backend, pytest-backend

fix(backend): fix undefined names in project goals and team services
  backend/app/api/endpoints/project_goals.py
  backend/app/api/v1/endpoints/project_goals.py
  backend/app/services/teams.py
Due: fix-line-lengths, mypy-backend, pytest-backend

style(backend): fix import order with isort
  backend/app/api/endpoints/project_goals.py
  backend/app/api/v1/endpoints/project_goals.py
  backend/app/services/teams.py
Due: fix-line-lengths, mypy-backend, pytest-backend

feat(sprint-balance): add automated analysis and real-time updates
  .github/workflows/k6-performance.yml
  .github/workflows/zap-security.yml
  backend/app/api/v1/__init__.py
  backend/app/api/v1/sprint_balance.py
  backend/app/api/v1/sprint_balance_ws.py
  backend/app/app.py
  backend/app/core/auth.py
  backend/app/core/cache_service.py
  backend/app/core/circuit_breaker.py
  backend/app/core/exceptions.py
  backend/app/core/websocket_manager.py
  backend/app/domains/sprint/balance_service.py
  backend/app/domains/sprint/schemas.py
  docs/stories/5.2.story.md
  frontend/package.json
  frontend/src/components/SprintBalanceDashboard.tsx
  frontend/src/components/__tests__/SprintBalanceDashboard.test.tsx
  frontend/src/hooks/useSprintBalance.ts
  poetry.lock
  pyproject.toml
  tests/backend/test_balance_service.py
  tests/e2e/test_sprint_balance.py
  tests/k6/helpers.js
  tests/k6/sprint_balance_load_test.js
  tests/security/zap-api-scan.yaml
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

docs: add PR template and sprint balance PR description
  backend/app/api/v1/sprint_balance.py
  backend/app/domains/sprint/balance_service.py
  frontend/src/components/SprintBalanceDashboard.tsx
  frontend/src/components/__tests__/SprintBalanceDashboard.test.tsx
  frontend/src/hooks/useSprintBalance.ts
  tests/e2e/test_sprint_balance.py
  tests/k6/sprint_balance_load_test.js
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

docs(qa): add qa gate docs and story status for sprint balance
  backend/app/api/v1/sprint_balance_ws.py
  backend/app/core/auth.py
  backend/app/core/circuit_breaker.py
  docs/qa/gates/sprint_balance_gate.md
  docs/stories/5.2.story.md
  tests/performance/sprint_balance.js
Due: fix-line-lengths, mypy-backend, pytest-backend

docs(qa): create qa gate yaml for story 5.2
  docs/qa/gates/5.2-sprint-balance.yml
Due: none

feat(docs): implement story documentation system
  .github/workflows/k6-performance.yml
  .github/workflows/zap-security.yml
  docs/qa/gates/5.3-manage-story-documentation-final.yml
  docs/stories/5.3.manage_story_documentation.md
  docs/templates/story_template.md
  scripts/__init__.py
  scripts/validate_story.py
  tests/backend/test_balance_service.py
  tests/k6/helpers.js
  tests/security/zap-api-scan.yaml
  tests/test_story_validator.py
Due: none

test(sprint): fix integration tests for sprint simulation service
  backend/docs/qa_gate.md
  backend/docs/story.md
  backend/tests/integration/test_sprint_simulation.py
Due: fix-line-lengths, pytest-backend

feat(planning): implement sprint planning view with AI simulation
  apps/web/src/components/ErrorBoundary.tsx
  apps/web/src/components/SprintPlanning/SimulationControls.tsx
  apps/web/src/components/SprintPlanning/SimulationVisualization.tsx
  apps/web/src/components/SprintPlanning/SprintPlanningView.tsx
  apps/web/src/components/SprintPlanning/WorkItemList.tsx
  apps/web/src/components/SprintPlanning/__tests__/SimulationControls.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SimulationVisualization.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SprintPlanningView.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/WorkItemList.test.tsx
  apps/web/src/services/simulationService.ts
  apps/web/src/stores/simulationStore.ts
  docs/qa/gates/5.4-display-actionable-retrospective-insights-final.yml
  docs/qa/gates/6.1-ai-sprint-simulation-service-final.yml
  docs/qa/gates/6.2.sprint_planning_qa_gate.yml
  docs/stories/4.1.story.md
  docs/stories/4.2.sprint_lifecycle_management.md
  docs/stories/5.4.display_actionable_retrospective_insights.md
  docs/stories/6.1.ai_sprint_simulation_service.md
  docs/stories/6.2.sprint_planning_view_with_ai_simulation.md
Due: none

test(sprint-sim): complete loading states and unit tests
  apps/web/jest.config.js
  apps/web/package.json
  apps/web/src/components/SprintPlanning/BacklogList.tsx
  apps/web/src/components/SprintPlanning/DraggableWorkItem.tsx
  apps/web/src/components/SprintPlanning/InteractiveSprintPlanning.tsx
  apps/web/src/components/SprintPlanning/SimulationControls.tsx
  apps/web/src/components/SprintPlanning/SimulationResults.tsx
  apps/web/src/components/SprintPlanning/SprintPlanningBoard.tsx
  apps/web/src/components/SprintPlanning/__tests__/InteractiveSprintPlanning.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SimulationControls.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SimulationResults.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SimulationVisualization.test.tsx
  apps/web/src/components/SprintPlanning/__tests__/SprintPlanningView.test.tsx
  apps/web/src/contexts/SimulationContext.ts
  apps/web/src/services/__mocks__/simulationService.ts
  apps/web/src/test/mockResizeObserver.ts
  apps/web/src/test/mocks.tsx
  apps/web/src/test/setup.ts
  apps/web/src/types/index.ts
  apps/web/tsconfig.json
  apps/web/tsconfig.node.json
  apps/web/vite.config.ts
Due: none

feat(llm): implement service provider integration
  apps/web/src/domains/llm/cache.py
  apps/web/src/domains/llm/error_handler.py
  apps/web/src/domains/llm/providers/base.py
  apps/web/src/domains/llm/providers/factory.py
  apps/web/src/domains/llm/providers/openai_provider.py
  apps/web/src/domains/llm/tests/test_cache.py
  apps/web/src/domains/llm/tests/test_error_handler.py
  apps/web/src/domains/llm/tests/test_providers.py
  apps/web/src/domains/llm/token_manager.py
  docs/architecture/13-llm-integration.md
  docs/qa/gates/story-8.1-llm-service-qa.yml
  docs/stories/8.1.story.md
Due: none

style: fix file endings
  apps/web/pnpm-lock.yaml
  apps/web/src/domains/llm/cache.py
  apps/web/src/domains/llm/error_handler.py
  apps/web/src/domains/llm/providers/base.py
  apps/web/src/domains/llm/providers/factory.py
  apps/web/src/domains/llm/providers/openai_provider.py
  apps/web/src/domains/llm/tests/test_cache.py
  apps/web/src/domains/llm/tests/test_error_handler.py
  apps/web/src/domains/llm/tests/test_providers.py
  apps/web/src/domains/llm/token_manager.py
Due: none

refactor(backend): update core services and work item model
  backend/app/core/logging_config.py
  backend/app/core/security.py
  backend/app/domains/models/work_item.py
  backend/tests/integration/test_health_checks.py
Due: fix-line-lengths, mypy-backend, pytest-backend

chore(deps): update dependencies and documentation
  docs/epics/8-llm-integration.md
  docs/epics/8-llm-integration.stories.md
  docs/qa/gates/6.3-interactive-simulation.yml
  docs/qa/gates/story-8.1-llm-service-qa.yml
  docs/qa/sprint_simulation_qa_gate.md
  docs/stories/6.3.story.md
  package-lock.json
  package.json
  poetry.lock
  pyproject.toml
Due: none

docs(llm): fix markdown formatting in documentation
  docs/architecture/13-llm-integration.md
  docs/stories/8.1.story.md
Due: none

docs(qa): add QA gate documents and update story status
  apps/web/src/components/epic/TitleGenerator.tsx
  apps/web/src/components/epic/__tests__/TitleGenerator.test.tsx
  apps/web/src/domains/llm/core/types.ts
  apps/web/src/domains/llm/title/PromptBuilder.ts
  apps/web/src/domains/llm/title/RedisTitleCache.ts
  apps/web/src/domains/llm/title/TitleGenerationService.ts
  apps/web/src/domains/llm/title/__tests__/TitleGenerationService.test.ts
  apps/web/src/domains/llm/title/types.ts
  apps/web/src/hooks/__tests__/useLLMClient.test.ts
  apps/web/src/hooks/__tests__/useRedisCache.test.ts
  apps/web/src/hooks/useLLMClient.ts
  apps/web/src/hooks/useRedisCache.ts
  apps/web/src/hooks/useTitleGeneration.ts
  docs/qa/gates/8.1-llm-service-provider-integration.yml
  docs/qa/gates/8.2-epic-title-generation-feature.yml
  docs/stories/8.2.epic_title_generation_feature.story.md
Due: none

docs(story): add dev agent record and complete design review
  docs/stories/8.2.epic_title_generation_feature.story.md
Due: none

test(security): fix RBAC test suite and improve middleware
  backend/.env.example
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/config.py
  backend/app/core/logging.py
  backend/app/core/security/__init__.py
  backend/app/core/security/auth.py
  backend/app/core/security/llm/__init__.py
  backend/app/core/security/llm/key_rotation.py
  backend/app/core/security/llm/key_scheduler.py
  backend/app/core/security/llm/monitoring.py
  backend/app/core/security/llm/pii_detection.py
  backend/app/core/security/llm/rbac.py
  backend/app/core/security/password.py
  backend/app/core/security/tokens.py
  backend/app/domains/ml/dependency_analysis.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/qa/gates/8.3-security-compliance.yml
  backend/requirements.txt
  backend/tests/conftest.py
  backend/tests/integration/test_edit_work_item_flow.py
  backend/tests/integration/test_invitations_api.py
  backend/tests/security/conftest.py
  backend/tests/security/llm/conftest.py
  backend/tests/security/llm/test_key_rotation.py
  backend/tests/security/llm/test_monitoring.py
  backend/tests/security/llm/test_performance.py
  backend/tests/security/llm/test_pii_detection.py
  backend/tests/security/llm/test_rbac.py
  backend/tests/security/test_mocks.py
  backend/tests/test_auth.py
  backend/tests/test_auth_api.py
  backend/tests/test_dependency_analysis.py
  backend/tests/test_project_goals_api.py
  backend/tests/test_security.py
  backend/tests/unit/api/endpoints/test_teams_update_work_item.py
  backend/tickets/SPRINT-135-fix-rbac-tests.md
  docs/stories/8.3.security-compliance.md
Due: fix-line-lengths, mypy-backend, pytest-backend
