Repository hazlamahedich/SprintSense: changes, and which pre-commit hooks are due for each by the changed paths.
All: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

Path conditions:
  fix-line-lengths: any of: ^backend/.*\.py$
  mypy-backend: any of: ^backend/app/.*\.py$
  pytest-backend: any of: ^backend/
  eslint-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  typescript-frontend: any of: ^frontend/src/.*\.(ts|tsx)$

fix: resolve React Hook dependency issues and improve input validation handling
  frontend/src/components/work-items/EditWorkItemForm.tsx
  frontend/src/components/work-items/EditWorkItemModal.tsx
Due: eslint-frontend, typescript-frontend

chore(release): QA-approved -> trigger full CI/CD
  backend/tests/unit/api/endpoints/test_teams_update_work_item.py
  claude_suggestions.md
  frontend/src/components/work-items/EditWorkItemForm.tsx
  frontend/src/components/work-items/EditWorkItemModal.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemForm.test.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemModal.test.tsx
Due: fix-line-lengths, pytest-backend, eslint-frontend, typescript-frontend

fix: remove unused userEvent in test
  frontend/src/components/work-items/__tests__/EditWorkItemModal.test.tsx
Due: eslint-frontend, typescript-frontend

feat: Add Story 2.5 - Soft-Delete Work Item (Approved)
  stories/2.5.soft_delete_work_item.md
  stories/CHANGELOG.md
Due: none

Story 2.5: QA APPROVED - Fix markdown linting
  backend/app/api/routers/teams.py
  backend/app/api/v1/endpoints/teams.py
  backend/app/domains/services/work_item_service.py
  backend/tests/test_archive_work_item.py
  claude_suggestions.md
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/work-items/ConfirmDeleteModal.tsx
  frontend/src/components/work-items/DeleteWorkItemButton.tsx
  frontend/src/components/work-items/__tests__/ConfirmDeleteModal.test.tsx
  frontend/src/components/work-items/__tests__/DeleteWorkItemButton.test.tsx
  frontend/src/hooks/__tests__/useArchiveWorkItem.test.ts
  frontend/src/hooks/useArchiveWorkItem.ts
  frontend/src/hooks/useWorkItems.ts
  frontend/src/services/workItemService.ts
  qa-gates/story-2.5-qa-gate.md
  stories/2.5.soft_delete_work_item.md
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

feat(stories): add Story 2.6 Manual Prioritization (Draft)
  stories/2.6.manual_prioritization.md
  stories/CHANGELOG.md
Due: none

feat(stories): complete stakeholder reviews for Story 2.6 - APPROVED
  stories/2.6.manual_prioritization.md
  stories/CHANGELOG.md
Due: none

feat: manual prioritization (Story 2.6) & soft delete improvements - QA approved for production
  backend/app/api/v1/endpoints/teams.py
  backend/app/domains/schemas/work_item.py
  backend/app/domains/services/work_item_service.py
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/feature/backlog/PriorityButton.tsx
  frontend/src/components/feature/backlog/PriorityControls.tsx
  frontend/src/components/feature/backlog/__tests__/PriorityButton.test.tsx
  frontend/src/components/feature/backlog/__tests__/PriorityControls.test.tsx
  frontend/src/hooks/__tests__/usePriorityUpdate.test.ts
  frontend/src/hooks/usePriorityUpdate.ts
  frontend/src/services/workItemService.ts
  frontend/src/types/workItem.types.ts
  qa-gates/story-2.6-manual-prioritization-qa-gate.md
  stories/2.6.manual_prioritization.md
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

fix: ESLint errors and TypeScript types - improving CI readiness
  frontend/src/components/feature/backlog/PriorityControls.tsx
  frontend/src/components/feature/backlog/__tests__/PriorityButton.test.tsx
  frontend/src/components/work-items/DeleteWorkItemButton.tsx
  frontend/src/components/work-items/__tests__/ConfirmDeleteModal.test.tsx
  frontend/src/components/work-items/__tests__/DeleteWorkItemButton.test.tsx
  frontend/src/hooks/__tests__/useArchiveWorkItem.test.ts
  frontend/src/hooks/usePriorityUpdate.ts
Due: eslint-frontend, typescript-frontend

fix(docker): add --no-root flag to poetry install for CI/CD compatibility
  backend/Dockerfile
Due: pytest-backend

docs: add CI/CD rollback procedures and validation checklist
  ops/rollback.md
Due: none

Standardize QA gate format: Convert stories 2.5 & 2.6 to YAML
  claude_suggestions.md
  docs/qa/gates/2.5-soft-delete-work-item.yml
  docs/qa/gates/2.6-manual-prioritization.yml
  qa-gates/story-2.5-qa-gate.md
  qa-gates/story-2.6-manual-prioritization-qa-gate.md
Due: none

docs(stories): add Story 3.2 AI Prioritization Service [Draft]
  frontend/src/components/feature/goals/GoalsList.tsx
  frontend/src/services/goalService.ts
  frontend/src/stores/goalStore.ts
  frontend/src/types/goal.types.ts
  stories/3.2.ai_prioritization_service.md
  stories/CHANGELOG.md
Due: eslint-frontend, typescript-frontend

docs(stories): Story 3.2 AI Prioritization Service - APPROVED
  stories/3.2.ai_prioritization_service.md
  stories/CHANGELOG.md
Due: none

🎯 Story 3.2: Dev Persona Updates - Implementation Marked Complete
  backend/STORY_3.2_IMPLEMENTATION_SUMMARY.md
  backend/app/api/v1/endpoints/ai_prioritization.py
  backend/app/domains/schemas/ai_prioritization.py
  backend/app/domains/schemas/workflow_integration.py
  backend/app/domains/services/ai_prioritization_service.py
  backend/app/domains/services/business_metrics_service.py
  backend/app/main.py
  backend/scripts/run_ai_prioritization_tests.py
  backend/tests/README_AI_PRIORITIZATION_TESTS.md
  backend/tests/integration/api/test_ai_prioritization_api.py
  backend/tests/performance/test_ai_prioritization_performance.py
  backend/tests/test_ai_prioritization_suite.md
  backend/tests/unit/services/test_ai_prioritization_service.py
  docs/qa/qa-gate-story-3.2-ai-prioritization.md
  frontend/src/components/feature/goals/GoalsList.tsx
  frontend/src/services/goalService.ts
  frontend/src/stores/goalStore.ts
  frontend/src/types/goal.types.ts
  stories/3.2.ai_prioritization_service.md
  stories/CHANGELOG.md
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

🎯 STORY 3.2 COMPLETE: AI Prioritization Service - QA APPROVED FOR PRODUCTION
  backend/app/api/v1/endpoints/ai_prioritization.py
  backend/app/domains/schemas/workflow_integration.py
  backend/app/domains/services/ai_prioritization_service.py
  backend/app/domains/services/business_metrics_service.py
  backend/scripts/run_ai_prioritization_tests.py
  backend/tests/integration/api/test_ai_prioritization_api.py
  backend/tests/performance/test_ai_prioritization_performance.py
  backend/tests/unit/services/test_ai_prioritization_service.py
Due: fix-line-lengths, mypy-backend, pytest-backend

feat: Story 3.3 - AI Suggestion Review System - COMPLETE ✅
  backend/app/api/ai_suggestions_simple.py
  backend/app/domains/schemas/ai_suggestion_minimal.py
  backend/app/domains/services/ai_suggestion_review_service_simple.py
  backend/app/main.py
  backend/tests/ai_suggestions_test_report.md
  backend/tests/test_ai_suggestions_clean.py
  docs/qa/qa-gate-story-3.3-ai-suggestion-review.md
  stories/3.3.review_and_apply_ai_suggestions.md
  stories/CHANGELOG.md
Due: fix-line-lengths, mypy-backend, pytest-backend

feat: Story 3.4 QA APPROVED - Epic Clustering System
  docs/qa/gates/3.4-suggest-and-create-epics-from-clusters.yml
  stories/3.4.suggest_and_create_epics_from_clusters.md
Due: none

fix(ts): resolve TypeScript issues in UI components
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/common/BacklogList.tsx
  frontend/src/components/common/FilterControls.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SortControls.tsx
  frontend/src/components/common/ViewModeToggle.tsx
  frontend/src/components/common/WorkItemForm.tsx
  frontend/src/components/feature/goals/GoalsList.tsx
  frontend/src/components/ui/index.tsx
  frontend/src/components/work-items/ConfirmDeleteModal.tsx
  frontend/src/components/work-items/DeleteWorkItemButton.tsx
  frontend/tsconfig.app.json
Due: eslint-frontend, typescript-frontend

refactor(priority): update priority controls and tests
  frontend/src/components/feature/backlog/PriorityControls.tsx
  frontend/src/components/work-items/__tests__/DeleteWorkItemButton.test.tsx
  frontend/src/hooks/__tests__/usePriorityUpdate.test.ts
  frontend/src/hooks/usePriorityUpdate.ts
Due: eslint-frontend, typescript-frontend

feat(recommendations): add quality metrics and recommendations
  frontend/src/__tests__/QualityDashboard.perf.test.tsx
  frontend/src/__tests__/RecommendationsPanel.test.tsx
  frontend/src/components/feature/recommendations/ConfidenceIndicator.tsx
  frontend/src/components/feature/recommendations/QualityDashboard.tsx
  frontend/src/components/feature/recommendations/QualityMetricsCard.tsx
  frontend/src/components/feature/recommendations/RecommendationCard.tsx
  frontend/src/components/feature/recommendations/RecommendationsPanel.tsx
  frontend/src/hooks/useQualityMetrics.ts
  frontend/src/hooks/useWorkItemRecommendations.ts
  frontend/src/services/recommendationsService.ts
  frontend/src/types/quality-metrics.types.ts
  frontend/src/types/recommendations.types.ts
Due: eslint-frontend, typescript-frontend

docs(story-3.5): add quality metrics story and gates
  docs/qa/gates/3.5-quality-metrics.yml
  stories/3.5.story.md
  stories/CHANGELOG.md
Due: none

refactor(backend): update core components and dependencies
  backend/app/api/v1/endpoints/teams.py
  backend/app/core/config.py
  backend/app/domains/models/work_item.py
  backend/app/main.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/conftest.py
Due: fix-line-lengths, mypy-backend, pytest-backend

fix(lint): resolve flake8 issues in backend code
  backend/app/api/routers/teams.py
  backend/app/core/cache.py
  backend/app/core/circuit_breaker.py
  backend/tests/ml/test_prediction_service.py
Due: fix-line-lengths, mypy-backend, pytest-backend

style: format frontend files with prettier
  .bandit
  backend/app/api/v1/endpoints/teams.py
  bandit.yaml
  frontend/playwright-report/data/02c18dadc01b66899f06463e1eeba78e93cfa10c.md
  frontend/playwright-report/data/3c1185d37ac47e7d1389362eb7401e0e455bf19e.md
  frontend/playwright-report/data/4d140ff0edd5ba3f9b8e31713f749b7744a80166.md
  frontend/playwright-report/data/5d3ba0837da2cfde592be443f2a1c738ba67fdda.md
  frontend/playwright-report/data/ff2ec177018f81e66961dd4d1404f2e1ff06229f.md
  frontend/src/components/team/PendingInvitations.tsx
  frontend/test-results/team-Team-Management-shoul-7d356-authorized-team-access-403--chromium/error-context.md
  frontend/test-results/team-Team-Management-shoul-7d356-authorized-team-access-403--firefox/error-context.md
  frontend/test-results/team-Team-Management-shoul-7d356-authorized-team-access-403--webkit/error-context.md
  frontend/test-results/team-Team-Management-shoul-a2f0a-eam-data-after-page-refresh-chromium/error-context.md
  frontend/test-results/team-Team-Management-shoul-a2f0a-eam-data-after-page-refresh-firefox/error-context.md
  frontend/test-results/team-Team-Management-shoul-a2f0a-eam-data-after-page-refresh-webkit/error-context.md
  frontend/test-results/team-Team-Management-should-handle-network-errors-gracefully-chromium/error-context.md
  frontend/test-results/team-Team-Management-should-handle-network-errors-gracefully-firefox/error-context.md
  frontend/test-results/team-Team-Management-should-handle-network-errors-gracefully-webkit/error-context.md
  frontend/tests/e2e/helpers/auth.ts
  frontend/tests/e2e/helpers/seed-db.ts
  frontend/tests/e2e/team.spec.ts
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

feat(sprints): implement sprint lifecycle management
  backend/app/domains/models/sprint.py
  backend/app/services/sprint_service.py
  backend/migrations/versions/20250921_create_sprints_table.py
  backend/tests/services/test_sprint_service.py
  docs/qa/gates/4.2-sprint-lifecycle-management.yml
  frontend/src/__tests__/components/sprints/SprintList.test.tsx
  frontend/tests/e2e/sprint_lifecycle.spec.ts
  stories/4.2.sprint_lifecycle_management.md
Due: fix-line-lengths, mypy-backend, pytest-backend, eslint-frontend, typescript-frontend

refactor(tests): apply formatting and improve test quality
  backend/app/tests/test_recommendations.py
  backend/tests/chaos/conftest.py
  backend/tests/chaos/test_quality_metrics_chaos.py
Due: fix-line-lengths, mypy-backend, pytest-backend

docs(warp): enhance development documentation with comprehensive guides
  warp.md
Due: none

test(frontend): enhance e2e test infrastructure
  frontend/.github/workflows/e2e-tests.yml
  frontend/test_cycle/test-reports/report.html
  frontend/test_cycle/test-results/report.html
  frontend/test_cycle/test_cycle/__main__.py
  frontend/test_cycle/test_cycle/analyzer.py
  frontend/test_cycle/test_cycle/auto_fix.py
  frontend/test_cycle/test_cycle/llm_fix.py
  frontend/test_cycle/test_cycle/reporter.py
  frontend/test_cycle/test_cycle/runner.py
  frontend/test_cycle/test_cycle/warp_llm_fix.py
  frontend/tests/e2e/global-setup.ts
  frontend/tests/e2e/helpers/auth.ts
  frontend/tests/e2e/helpers/auth.ts.new
  frontend/tests/e2e/helpers/auth2.ts
  frontend/tests/e2e/helpers/setup.ts
  frontend/tests/e2e/sprint_lifecycle_new.spec.ts
  frontend/tests/e2e/team.spec.ts
Due: none

feat(db): add auth and team management migrations
  supabase/migrations/20250921140100_create_user_profiles.sql
  supabase/migrations/20250921142200_test_user_procedure.sql
Due: none

docs(stories): mark story 4.5 as Done and align format with standard; update QA gates and changelog
  .pre-commit-config.yaml
  docs/stories/4.5.initial_story_setup.md
Due: none

chore(pre-commit): fix EOF in package __init__ modules
  backend/app/schemas/__init__.py
  backend/app/services/__init__.py
Due: fix-line-lengths, mypy-backend, pytest-backend
