Repository hazlamahedich/SprintSense: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

mypy-backend:
  name: mypy (backend)
  entry: bash -c 'cd backend && poetry run mypy app --ignore-missing-imports'
  language: system
  pass_filenames: false

pytest-backend:
  name: pytest (backend)
  entry: bash -c 'cd backend && poetry run pytest tests/ -q --tb=short'
  language: system
  pass_filenames: false

eslint-frontend:
  name: ESLint (frontend)
  entry: bash -c 'cd frontend && npm run lint'
  language: system
  pass_filenames: false

typescript-frontend:
  name: TypeScript Check (frontend)
  entry: bash -c 'cd frontend && npm run type-check'
  language: system
  pass_filenames: false

vitest-frontend:
  name: Vitest Tests (frontend)
  entry: bash -c 'cd frontend && npm run test:run'
  language: system
  pass_filenames: false

fix: Resolve import sorting and formatting issues
  backend/app/domains/models/__init__.py
  backend/app/domains/models/team.py
  backend/app/domains/schemas/__init__.py
  backend/app/domains/services/__init__.py
  backend/app/main.py
  backend/migrations/versions/9572ac18b8fc_add_teams_and_team_members_tables.py
  backend/tests/conftest.py
  frontend/package.json
  frontend/src/pages/CreateTeamPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/__tests__/CreateTeamPage.test.tsx
  scripts/pre-commit-checks.sh
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: Add final newlines (automated by pre-commit hooks)
  .pre-commit-config.yaml
  Makefile
  scripts/automation-status.sh
  scripts/install-git-hooks.sh
  scripts/watch-quality.sh
Due: none

fix: Break long lines in line length automation documentation
  .markdownlint.json
  .pre-commit-config.yaml
  Makefile
  backend/app/domains/models/team.py
  docs/development/line-length-automation.md
  scripts/fix-common-issues.sh
  scripts/fix-line-lengths.py
Due: mypy-backend, pytest-backend

feat: Complete Story 1.7 - Invite Users to Team
  .pre-commit-config.yaml
  backend/app/api/v1/endpoints/invitations.py
  backend/app/domains/models/team.py
  backend/app/domains/schemas/__init__.py
  backend/app/domains/schemas/invitation.py
  backend/app/domains/services/__init__.py
  backend/app/domains/services/invitation_service.py
  backend/migrations/versions/5311c1cffac8_add_invitations_table.py
  backend/tests/conftest.py
  backend/tests/integration/test_invitations_api.py
  backend/tests/unit/test_invitation_endpoints.py
  backend/tests/unit/test_invitation_service.py
  docs/architecture/8-database-schema.md
  docs/qa/gates/1.7-invite-users-to-team.yml
  frontend/package-lock.json
  frontend/src/App.tsx
  frontend/src/components/team/InviteUserModal.tsx
  frontend/src/components/team/PendingInvitations.tsx
  frontend/src/components/team/__tests__/InviteUserModal.test.tsx
  frontend/src/components/team/__tests__/PendingInvitations.test.tsx
  frontend/src/components/team/index.ts
  frontend/src/pages/CreateTeamPage.tsx
  frontend/src/pages/DashboardPage.tsx
  frontend/src/pages/TeamDashboardPage.tsx
  frontend/src/services/api.ts
  frontend/src/types/invitations.ts
  stories/1.7.invite_users_to_team.md
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: TypeScript type-only imports for invitation components
  frontend/src/components/team/InviteUserModal.tsx
  frontend/src/components/team/PendingInvitations.tsx
Due: eslint-frontend, typescript-frontend, vitest-frontend

fix(story): PO validation fixes for Story 2.1 - AC clarification, Sprint dependencies, field explanations
  frontend/package-lock.json
  stories/2.1.create_work_item_schema.md
Due: vitest-frontend

feat: Add comprehensive pre-commit hooks to prevent CI failures
  .pre-commit-config.yaml
Due: none

feat(qa): QA pre-implementation review for Story 2.1 - PASS gate with 95/100 quality score
  docs/qa/gates/2.1-create-work-item-schema.yml
  stories/2.1.create_work_item_schema.md
Due: none

ci: Add Vitest coverage dependency for frontend testing
  frontend/package-lock.json
  frontend/package.json
Due: vitest-frontend

docs: fix markdown formatting issues and configure markdownlint
  .markdownlint.json
  README.md
  claude_suggestions.md
  frontend/package-lock.json
  stories/1.2.setup_database_migrations.md
  warp.md
Due: vitest-frontend

feat: Complete Story 2.2 - View Backlog (QA approved 8.5/10 - ready for CI/CD)
  backend/app/api/v1/endpoints/teams.py
  backend/app/domains/services/work_item_service.py
  docs/qa/gates/2.2-view-backlog.yml
  docs/stories/2.2.story.md
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.tsx
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/common/BacklogList.tsx
  frontend/src/components/common/FilterControls.tsx
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/SortControls.tsx
  frontend/src/components/common/ViewModeToggle.tsx
  frontend/src/components/common/WorkItemForm.tsx
  frontend/src/components/common/__tests__/BacklogItem.test.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/index.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/hooks/useWorkItems.ts
  frontend/src/pages/BacklogPage.tsx
  frontend/src/pages/__tests__/BacklogPage.test.tsx
  frontend/src/services/__tests__/workItemService.test.ts
  frontend/src/services/workItemService.ts
  frontend/src/stores/backlogStore.ts
  frontend/src/types/workItem.types.ts
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: Resolve mypy type conflict between status parameter and fastapi.status module
  backend/app/api/v1/endpoints/teams.py
Due: mypy-backend, pytest-backend

Add Supabase configuration settings to backend
  backend/app/core/config.py
Due: mypy-backend, pytest-backend

docs: mark Story 2.2 View Backlog as Done - all tasks completed
  docs/stories/2.2.story.md
Due: none

feat: Create Story 2.3 - Create Work Item
  stories/2.3.create_work_item.md
Due: none

feat: Story 2.3 stakeholder review complete - APPROVED with conditions
  stories/2.3.create_work_item.md
Due: none

Deploy: Story 2.2 complete - Ready for CI/CD
  .env.dev.template
  .env.prod.template
  .env.staging.template
  .github/actions/build-and-push-docker/action.yml
  .github/workflows/ci.yml
  .github/workflows/deploy-dev.yml
  Makefile
  backend/app/api/routers/health.py
  backend/app/api/routers/teams.py
  backend/app/api/v1/endpoints/teams.py
  backend/app/core/exceptions.py
  backend/app/core/performance.py
  backend/app/domains/schemas/work_item.py
  backend/app/domains/services/work_item_service.py
  backend/poetry.lock
  backend/pyproject.toml
  backend/tests/integration/test_health_checks.py
  backend/tests/unit/test_work_item_schemas.py
  docs/ci-cd-audit.md
  docs/environment-config.md
  docs/troubleshooting/git-commands.md
  frontend/Dockerfile.prod
  frontend/nginx.conf
  frontend/src/components/feature/backlog/CreateWorkItemButton.tsx
  frontend/src/components/feature/backlog/CreateWorkItemDemo.tsx
  frontend/src/components/feature/backlog/CreateWorkItemForm.tsx
  frontend/src/components/feature/backlog/CreateWorkItemModal.tsx
  frontend/src/components/feature/backlog/__tests__/CreateWorkItemForm.test.tsx
  frontend/src/components/feature/backlog/index.ts
  frontend/src/hooks/__tests__/useCreateWorkItem.test.ts
  frontend/src/hooks/useCreateWorkItem.ts
  frontend/src/services/workItemService.ts
  frontend/src/types/workItem.types.ts
  scripts/deploy-utils.sh
  stories/2.2.story.md
  stories/2.3.create_work_item.md
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

Fix: Auto-fix markdown linting issues
  .env.dev.template
  .env.prod.template
  .env.staging.template
  .github/actions/build-and-push-docker/action.yml
  .pre-commit-config.yaml
  backend/.flake8
  backend/app/api/routers/health.py
  backend/app/core/performance.py
  backend/app/domains/services/work_item_service.py
  backend/tests/integration/test_health_checks.py
  docs/ci-cd-audit.md
  docs/environment-config.md
  docs/troubleshooting/git-commands.md
  frontend/.eslintrc.json
  frontend/Dockerfile.prod
  frontend/nginx.conf
  frontend/src/components/common/Pagination.tsx
  frontend/src/components/common/ViewModeToggle.tsx
  frontend/src/components/common/WorkItemForm.tsx
  frontend/src/components/feature/backlog/CreateWorkItemButton.tsx
  frontend/src/components/feature/backlog/CreateWorkItemDemo.tsx
  frontend/src/components/feature/backlog/CreateWorkItemForm.tsx
  frontend/src/components/feature/backlog/CreateWorkItemModal.tsx
  frontend/src/components/feature/backlog/__tests__/CreateWorkItemForm.test.tsx
  frontend/src/components/feature/backlog/index.ts
  frontend/src/hooks/__tests__/useCreateWorkItem.test.ts
  frontend/src/hooks/useWorkItems.ts
  frontend/src/pages/BacklogPage.tsx
  frontend/src/stores/backlogStore.ts
  scripts/deploy-utils.sh
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: Resolve frontend type issues and backend linting problems
  backend/app/api/routers/teams.py
  backend/app/core/exceptions.py
  backend/pyproject.toml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/common/FilterControls.tsx
  frontend/src/components/common/WorkItemForm.tsx
  frontend/src/components/common/__tests__/BacklogItem.test.tsx
  frontend/src/services/__tests__/workItemService.test.ts
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: Remove unused imports and fix TypeScript any types in UI components
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/ui/index.tsx
Due: eslint-frontend, typescript-frontend, vitest-frontend

fix: Resolve ESLint issues in useCreateWorkItem test
  frontend/src/components/common/BacklogList.tsx
  frontend/src/components/common/SortControls.tsx
  frontend/src/components/ui/alert.tsx
  frontend/src/components/ui/badge.tsx
  frontend/src/components/ui/button.tsx
  frontend/src/components/ui/card.tsx
  frontend/src/components/ui/dialog.tsx
  frontend/src/components/ui/dropdown-menu.tsx
  frontend/src/components/ui/input.tsx
  frontend/src/components/ui/label.tsx
  frontend/src/components/ui/select.tsx
  frontend/src/components/ui/textarea.tsx
  frontend/src/components/ui/toggle-group.tsx
  frontend/src/hooks/__tests__/useCreateWorkItem.test.ts
  frontend/src/hooks/useCreateWorkItem.ts
  frontend/src/pages/__tests__/BacklogPage.test.tsx
  frontend/src/services/workItemService.ts
  frontend/src/types/workItem.types.ts
Due: eslint-frontend, typescript-frontend, vitest-frontend

fix: Replace all remaining any types with proper TypeScript interfaces
  frontend/src/hooks/useCreateWorkItem.ts
  frontend/src/pages/__tests__/BacklogPage.test.tsx
Due: eslint-frontend, typescript-frontend, vitest-frontend

fix: Replace final any type with QueryParams interface in workItemService
  frontend/src/services/workItemService.ts
Due: eslint-frontend, typescript-frontend, vitest-frontend

fix: Fix import sorting in backend files
  backend/app/api/routers/teams.py
  backend/app/api/v1/endpoints/teams.py
  backend/app/domains/services/work_item_service.py
Due: mypy-backend, pytest-backend

fix: Resolve backend mypy type checking issues (final formatting)
  backend/app/api/routers/health.py
  backend/app/api/routers/teams.py
  backend/app/api/v1/endpoints/teams.py
  backend/app/core/exceptions.py
  backend/app/core/performance.py
  frontend/src/components/feature/backlog/__tests__/CreateWorkItemForm.test.tsx
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: Auto-format code with pre-commit hooks
  backend/app/api/routers/health.py
  backend/tests/integration/test_health_checks.py
  backend/tests/test_health.py
Due: mypy-backend, pytest-backend

Deploy: Story 2.3 to development environment
  DEPLOYMENT.md
Due: none

Update: Deployment status and test issue documentation
  DEPLOYMENT.md
Due: none

Fix frontend test validation assertions
  frontend/src/components/feature/backlog/__tests__/CreateWorkItemForm.test.tsx
Due: eslint-frontend, typescript-frontend, vitest-frontend

Fix backend integration test time mocking
  backend/tests/integration/test_health_checks.py
Due: pytest-backend

Fix backend health check response time test calculation
  backend/tests/integration/test_health_checks.py
Due: pytest-backend

feat: integrate Code Rabbit for automated code reviews
  .coderabbit.yml
  .env.example
  .github/workflows/coderabbit-review.yml
  docs/coderabbit-integration.md
Due: none

test: add Code Rabbit integration validation
  test-coderabbit.py
Due: none

fix: update CodeRabbit workflow to use GitHub App approach
  .github/workflows/coderabbit-review.yml
  test-coderabbit.py
Due: none

feat(story): add draft Story 2.4 Edit Work Item
  stories/2.4.edit_work_item.md
Due: none

feat(story): complete stakeholder review process for Story 2.4 Edit Work Item
  docs/qa/gates/2.4-edit-work-item.yml
  stories/2.4.edit_work_item.md
Due: none

feat: Story 2.4 Edit Work Item – QA PASS 92/100, ready for prod 🎉
  backend/app/api/v1/endpoints/teams.py
  backend/tests/integration/test_edit_work_item_flow.py
  backend/tests/unit/api/endpoints/test_teams_update_work_item.py
  frontend/src/components/common/BacklogItem.tsx
  frontend/src/components/feature/backlog/EditWorkItemButton.tsx
  frontend/src/components/feature/backlog/EditWorkItemForm.tsx
  frontend/src/components/feature/backlog/EditWorkItemModal.tsx
  frontend/src/components/work-items/EditWorkItemForm.tsx
  frontend/src/components/work-items/EditWorkItemModal.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemForm.test.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemModal.test.tsx
  frontend/src/hooks/useEditWorkItem.ts
  stories/2.4.edit_work_item.md
Due: mypy-backend, pytest-backend, eslint-frontend, typescript-frontend, vitest-frontend

fix: resolve frontend validation test failures - 16/18 tests now passing
  frontend/src/components/work-items/EditWorkItemForm.tsx
  frontend/src/components/work-items/EditWorkItemModal.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemForm.test.tsx
  frontend/src/components/work-items/__tests__/EditWorkItemModal.test.tsx
  frontend/src/hooks/useEditWorkItem.ts
Due: eslint-frontend, typescript-frontend, vitest-frontend

Path conditions:
  mypy-backend: any of: ^backend/app/.*\.py$
  pytest-backend: any of: ^backend/
  eslint-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  typescript-frontend: any of: ^frontend/src/.*\.(ts|tsx)$
  vitest-frontend: any of: ^frontend/
